.card {
  text-align: center;
  background-color: #80ff0071;
  width: 350px; 
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 1rem;
}



.card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__headName, .card__headBoton {
  margin: .4rem;
}

.card__headName {
  font-weight: 600;
  color: #302E3E;
  background: #6bd700;
  padding: 0 .3rem;

}

.card__headBoton {
  background-color:#302E3E;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: .3s all eas
}

.card__headBoton:hover {
  background-color: #3f3c52;
}

.card__peopleIMG {
  width: 280px;
  border-radius: 10px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 .6rem;
}

.card__infoSpecies, .card__infoGender {
  font-weight: 600;
  color: #1b1a1a;
  font-size: 14px;
}
.botonslink {
  font-size: 15px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  background-color: #80ff0071;
   border: none;
   transition: .3s all eas
}
.botonslink:hover {
  background-color: #80ff00;
}
.active {
  color: black;
  text-decoration: none;
}